<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Libro</title>
</head>
<body>
    <h1>Ingresa o edita Libros</h1>
    <form method="post" action="{% url 'libro_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <a hef="{% url 'libro_list' %}">Cancelar</a>
        ><button type="submit">Guardar</button>
    </form>
    <p><a href="{% url 'libro_list' %}">Volver a la lista</a></p>
</body>
</html>